apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: wblo
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: wblo
    app.kubernetes.io/part-of: byoc-app-brdi
  name: wblo
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: wblo
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: wblo
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-ccig-tenant/byoc-app-brdi/wblo@sha256:d8917b0174b8460d6fe87639c088d481190ab6987f2d51d22c9214475943f1dd
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
