apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: wblo
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-ccig-tenant/byoc-app-brdi/wblo@sha256:d8917b0174b8460d6fe87639c088d481190ab6987f2d51d22c9214475943f1dd
        name: my-java-quarkus
        resources: {}
status: {}
